* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background: white;
    display: flex;
    justify-content: center;
}
nav{
    z-index: 10;
    position: fixed;
    width: 100%;
    background:linear-gradient(#9c61c9,#583672);
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 0 0 ;
}
nav ul li{
    align-items: center;
    color: white;
    margin-top: 5px;
}
nav h5{
    color: white;
}
.submit {
    border: none;
    padding: 10px;
    margin-top: 5px;
    background: #fff;
    color: #583672;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}
.submit:hover{
    text-decoration: none;
    color: #583672;
    border: 1 px solid white;
}
.wrapper {
    width: 90%;
    margin-top: 60px;
    margin-bottom: 40px;
    box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.712);
}

.content {
    border: 1px solid #583672;
    margin-top: 30px;
    padding: 20px;
    padding-bottom: 50px
}
.option {
    margin-left: 30px;
    height: 50px;
    background-color: #f4f4f4;
    position: relative;
    width: 100%;
    padding: 20px;
}

.option:hover {
    background-color: #e8e8e8;
    cursor: pointer
}

.option input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

input[type="button"] {
    width: 100%;
    height: 40px;
    background-color: #583672;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .wrapper{
        width: 100%;
        border: none;
    }
    
}